# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.env
.venv

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints

# Model outputs
results/
gpt2-finetuned/

# Datasets
*.csv
*.tsv
*.parquet
*.json

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.bak
*.tmp
models/polaris-pm1/
